.makeCourseForm-wrapper {
    justify-content: center;
    margin: 45px 60px;
    min-height: 100vh;

    .chapterAndCourseNameInput-wrapper {
        background-color: rgba(255, 166, 0, 0.966);
        display: flex;
        justify-content: center;
    }

    textarea {
        height: 80px;
        min-width: calc(100vw - 800px);
    }
}
