.main-page--about {
    background-color: rgba(67, 67, 197, 0.931);
    background-size: cover;
    min-height: 100vh;

    .section {
        padding: 50px 80px;
    }
}

.about-amazing-teens--text {
    font-size: 30px;
    text-align: center;
}
