.courses {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 25px;
  background-color: green;

  .courseName {
    background-color: red;
    text-align: center;
    color: white;
  }

  img {
    background-color: white;
    border-radius: 10px;
  }

  // div {
  //   background-color: white;
  // }

  a {
    text-decoration: none;
  }
}
