.top-nav-bar {
  background-color: #0d0d0d;
  padding-top: 70px;

  .tob-nav-bar--home-logo-link {
    font-size: 25px;
    padding-left: 50px;
    white-space: nowrap;
  }
}

.top-nav-bar--links--wrapper {
  background-color: #9e0303;
  padding: 10px 0;

  a {
    text-decoration: none;
  }
}

.top-nav-bar--links {
  // background-color: red; //--> for testing only
  column-gap: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  margin: 0 0 0 5%;
  white-space: nowrap;

  .skew {
    background-color: #a81d1d;
    padding: 10px 10px 10px 17px;
    transform: skewX(-15deg);
  }

  .skew:hover {
    cursor: pointer;
  }
  // undo skewX from "top-nav-bar--links"
  .skew--undo {
    transform: skewX(15deg);
  }

  .style {
    color: #f2dddd;
    font-family: "Cinzel", serif;
    font-size: 20px;
    font-weight: 500z;
  }
}
