.top-nav-bar--links {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
}

.top-nav-bar {
  background-color: #01192f;
  padding-top: 35px;
  padding-bottom: 35px;
}

.top-nav-bar--link {
  font-family: "Tangerine", cursive;
  color: whitesmoke;
  text-decoration: none;
}

.tob-nav-bar--home-link {
  font-family: "Tangerine", cursive;
  color: whitesmoke;
  text-decoration: none;
}
