.top-nav-bar--links {
  display: flex;
  flex-flow: row wrap;
  background-color: cornflowerblue;
  justify-content: space-around;
}

.top-nav-bar {
  background-color: #011c34;
  padding: 50px;
}

.tob-nav-bar--home-logo-link {
  font-size: 25px;
  
}

.link-style {
  font-size: 20px;
  color: white;
}
