$transition-width: width 0.2s;

.links {
  background-color: red;

  z-index: 100; // 100 to be sure
  white-space: nowrap;
  position: sticky;
  width: 95px;
  height: 100vh;
  transition: $transition-width;

  ul {
    background-color: black;
    margin: 0;
    padding: 30px 0 0 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.links:hover {
  width: 200px;
  transition: $transition-width;
}
