.formFields-wrapper {
  $backgroundColor: rgb(185, 96, 32);

  background-color: $backgroundColor;
  justify-content: center;
  min-height: calc(100vh);

  .formFields-centered {
    background-color: rgba(0, 17, 255, 0.815);
    display: flex;
    justify-content: center;
  }

  .formFields-centered .formFields {
    background-color: rgba(0, 255, 255, 0.938);
    padding: 50px;
  }
}
