$left: 95px;

.wrapper {
  overflow-wrap: break-word;
  background-color: blue;
  position: absolute;
  height: 100vh;
  width: calc(100% - $left);
  left: $left;

  .form {
    background: red;
    margin: 10px 20px 0 10px;
  }
}
