.chapterAndCourseNameInput-wrapper {
    background-color: rgba(255, 166, 0, 0.966);

    .chapterAndCourseNameInput {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        text-align: center;
    }

    textarea {
        height: 50px;
        min-width: calc(100vw - 550px);
        padding-left: 10px;
        text-align: center;
    }
}
